<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
   <channel>
      <title>Radio1 - Pulnocni dharma</title>
      <description>Radio 1 night talks about DHARMA</description>
      <link>http://pulnocni-dharma.iapp.eu/rss/index.rss</link>
      <language>cs</language>
      <ttl>960000</ttl>
      <copyright>Radio1</copyright>
      <atom:link href="http://pulnocni-dharma.iapp.eu/rss/index.rss" rel="self" type="application/rss+xml" />
      <lastBuildDate>{{ build_date }}</lastBuildDate>
      <itunes:author>Radio1</itunes:author>
      <itunes:image href="http://pulnocni-dharma.iapp.eu/pulnocni-dharma.jpg" />
      <itunes:category text="Buddhism"></itunes:category>
      <itunes:owner>
        <itunes:email>msirovy@gmail.com</itunes:email>
      </itunes:owner>
      <itunes:explicit>No</itunes:explicit>
      {% for track in data %}
      <item>
         <guid>{{ track.link }}</guid>
         <link>{{ track.link }}</link>
         <title>{{ track.name }}</title>
         <description>{{ track.description }}</description>
         <pubDate>{{ track.pub_date }}</pubDate>
         <enclosure url="{{ track.link }}" type="{{ track.type }}" length="{{ track.length }}"/>
      </item>
      {% endfor %}
   </channel>
</rss>
